

.Nav {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	background: #E8EFD5;
	border-bottom: 1px solid #000;

	&-link {
		padding: 0 4px;
		color: #DED69C;
		text-decoration: none;

		&.is-active,
		&:hover {
			color: #9ca4de;
			;
		}

		&.is-active {
			text-decoration: underline;
		}
	}
}

.Nav-Link-Home {
padding: 0 4px;
color: #DED69C;
text-decoration: none;

	&.is-active,
	&:hover {
		color: #9ca4de;
		;
	}

&.is-active {
	text-decoration: underline;
	}
}
