
.navbar {
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color: #2d0043;
}
.home-link {
	width: 200px;
	margin-right: 35%;
	margin-right: calc(95% - 500px);
}
.navbar a{
	text-decoration: none;
	text-align: center;
	width: 1000px;
	color: white;
	padding: 35px;
}
.logo-box {
	display: inline-block;
}
.logo-image {
	width: 40px;
	height: 40px;
}

.logo-box	span {

}
